.rocket-1 {
  top: 12vh;
  position: absolute;
}

.smoke {
  margin-bottom: 0;
  margin-top: auto;
}

.head-text {
  font-size: 500%;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 45vh;
}
